# db & resources
pika
pynsq
pymysql
paramiko
bson
pymongo
redis
sqlalchemy
elasticsearch5
elasticsearch>=6.0.0,<7.0.0


# web server and framework
tornado==4.5.3
gevent
gevent-websocket
gunicorn
flask
flask-cors
Flask-HTTPAuth
flask-swagger
flask_sqlalchemy
flask_socketio
flask-compress
user_agent
itsdangerous


# crawler
requests
pysocks
lxml
pyquery
pypinyin
selenium
chardet
pyspider
snownlp
apscheduler
jsonpath-rw
scrapy
goless


# system wide
psutil
configparser
python-dotenv
pyyaml
eventlet
fluent-logger


# tools
six
arrow
serializer
dateparser
xmltodict
argcomplete
timeout-decorator
Image
crython
demjson
pdfminer.six
textract
feedparser


# thrid party
qiniu

# inner group
-e git+git@gitlab.wallstcn.com:spider/pdfplumber.git@master#egg=pdfplumber
-e git+git@gitlab.wallstcn.com:spider/docgod.git@v0.1.3#egg=docgod